<h1>Stupid Coaching</h1>
<p>Read the answers</p>

<h3>1. I'm going to work</h3>
<p>- Great !</p>

<h3>2. what time is it ?</h3>
<p>- It's 9am !</p>

 <h2><%= @question %></h2>
<p><%= @answer %></p>

<%= link_to'Ask a new question', ask_path %>
