<h1>Stupid Coaching</h1>
<p>Read </p>

<form action="/answer">
  <label for="question">1. Ask your coach anything:</label>
  <input type="text" id="question" name="question" placeholder="I'm going to work?">
  <input type="submit" value="submit !">
</form>





<form action="/answer" data-turbo="false">
<label for="question">2. Ask your coach how time is it:</label>
  <input type="text" name= @answer placeholder = "what time is it?">
  <input type="submit" value="submit!">
</form>
